certifi==2019.11.28
chardet==3.0.4
cloudpickle==1.3.0
future==0.18.2
gym==0.17.1
idna==2.9
numpy==1.18.2
pyglet==1.5.0
requests==2.23.0
scipy==1.4.1
six==1.14.0
-e git+git@github.com:MarcPer/netsnake.git@0b77846631ac6577017d6569407d58d6c4a4e007#egg=snake_gym&subdirectory=clients/tensorflow_openai/snake_gym
urllib3==1.25.8
